version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: sales_forecasting_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    